@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@400;500;700&display=swap');

@layer base {
  html,
  body,
  #root {
    width: 100%;
    height: 100%;
  }

  html {
    font-family: 'Zen Kaku Gothic New', sans-serif;
  }
}

@layer components {
  .welcome {
    @apply rounded-full absolute;
  }

  .welcome-1,
  .welcome-4 {
    @apply bg-secondary-blue z-10;
  }

  .welcome-2,
  .welcome-3 {
    @apply bg-primary-blue;
  }

  .welcome-1 {
    @apply rounded-ss-lg;
  }

  .welcome-4 {
    @apply rounded-ee-lg;
  }

  .sm-welcome-1 {
    @apply w-64 h-64 -top-10 -left-10;
  }

  .sm-welcome-2 {
    @apply w-52 h-52 top-36 -left-15;
  }

  .sm-welcome-3 {
    @apply w-56 h-56 bottom-28 -right-24;
  }

  .sm-welcome-4 {
    @apply w-60 h-60 -bottom-9 -right-9;
  }

  .md-welcome-1 {
    @apply w-96 h-96 -top-20 -left-20;
  }

  .md-welcome-2 {
    @apply w-64 h-64 top-48 -left-12;
  }

  .md-welcome-3 {
    @apply w-72 h-72 bottom-48 -right-16;
  }

  .md-welcome-4 {
    @apply w-80 h-80 -bottom-9 -right-9;
  }

  .lg-welcome-1 {
    @apply w-[500px] h-[500px] -top-32 -left-32;
  }

  .lg-welcome-2 {
    @apply w-[350px] h-[350px] top-56 -left-24;
  }

  .lg-welcome-3 {
    @apply w-[400px] h-[400px] bottom-44 -right-36;
  }

  .lg-welcome-4 {
    @apply w-[450px] h-[450px] -bottom-20 -right-20;
  }

  .xxl-welcome-1 {
    @apply w-[800px] h-[800px] -top-32 -left-32;
  }

  .xxl-welcome-2 {
    @apply w-[650px] h-[650px] top-80 -left-36;
  }

  .xxl-welcome-3 {
    @apply w-[700px] h-[700px] bottom-80 -right-48;
  }

  .xxl-welcome-4 {
    @apply w-[750px] h-[750px]  -bottom-24 -right-24;
  }

  .btn {
    @apply h-11 w-9/10 rounded-lg mt-2;
  }

  .btn-blue {
    @apply border-none bg-button-blue text-white;
  }

  .btn-sub-blue {
    @apply border border-button-blue text-button-blue;
  }

  .btn-red {
    @apply border-none bg-button-red text-white;
  }

  .btn-disabled {
    @apply border-none disabled:bg-slate-400 text-white;
  }

  .btn-social {
    @apply flex justify-center items-center border-none bg-gray-95;
  }

  .input {
    @apply w-9/10 h-11 px-3 py-2 mb-3 rounded-lg border shadow-sm;
  }

  .error {
    @apply text-xs text-rose-700 pb-2;
  }

  .modal {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full max-w-[500px] h-96 rounded-lg shadow-lg bg-white;
  }

  .aside {
    @apply flex;
  }

  .aside-row {
    @apply justify-start w-full;
  }

  .aside-col {
    @apply flex-col space-y-px w-52 border-r-2 border-slate-100;
  }

  .tab {
    @apply h-13 border-slate-100 shadow-sm;
  }

  .tab-row {
    @apply rounded-t-lg border-t-2 border-r-2;
  }

  .tab-col {
    @apply rounded-r-lg border-b-2;
  }

  .focused {
    @apply bg-primary-black text-white shadow-inner;
  }

  .toggle-bg:after {
    content: '';
    @apply absolute top-0.5 right-[1.6rem] bg-white border border-gray-300 rounded-full h-5 w-5 transition shadow-sm;
  }

  input:checked + .toggle-bg:after {
    transform: translateX(115%);
    @apply border-white;
  }

  input:checked + .toggle-bg {
    @apply bg-blue-600 border-button-blue;
  }
}
